APP_NAME=DePay
JWT_SECRET=change_me_for_local_dev
DATABASE_URL=postgres://myuser:mypassword@localhost:5432/mydatabase?sslmode=disable
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydatabase
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
RABBITMQ_URL=amqp://myuser:mypassword@localhost:5672/
SKIP_RABBITMQ=true

USER_SERVICE_PORT=8080
TRANSACTION_VALIDATION_SERVICE_PORT=8081
GAS_INFO_SERVICE_PORT=8082
MERCHANT_SERVICE_PORT=8083
WALLET_SERVICE_PORT=8084
TRANSACTION_CORE_SERVICE_PORT=8085
ADMIN_SERVICE_PORT=8090
WEB_PORT=5173
